aside#right {
    float:right;
    width:550px;
    margin-right:50px; /*내 노트북에서는 50이었음*/ /*랩실 컴터로 300까지는 괜찮음*/
    margin-left:25px;
    margin-bottom: 50px;
}
aside#right p{
    margin: 13px 0;
}
button{
    width:150px;
    height:40px;
}
#apply a{
    color:black;
    text-decoration:none;
}
#apply a:visited{
    color:black;
    text-decoration:none;
}
#right p{
    font-size:30px;
    padding: 10px 0;
}
#main_image img {
    width:470px;
    height:500px;
    margin-left:45px; 
    
}
#explanation{
    font-size:30px;
    margin-left:60px;
    margin-bottom: 100px;
}

.container {
    margin-top: 150px;
}
.limited_edition {
    color:  #504d4da4;
}

.ex_img {
    width: 100%;
    margin: 30px 0;
}

.btn>a {
    margin-right: 10px;
}

.btn {
    margin-top: 50px;
}